// Cognito Contact Form


        .cognito:not(.c-forms-actionBar){
            max-width:none!important;
            margin:0!important;
        }




        
      
        .cognito{
            form {
                position: relative;
                left: 50%;
                transform: translateX(-50%);


                
                
                padding-bottom:20px;
            }

         .c-forms-form {
             max-width: none; 
             margin-top:20px;
        }

        label{
            display: none;

        }
        input,textarea{


               
                 width:100%!important;  // to stretch to .webform-component width
            
                     padding-left:15px!important;  
                     font-family:"Marcellus",serif!important;
                     font-weight: normal!important;
                font-size: 18px!important;
                line-height: 1.42857;
                color: #555!important;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc!important;
                border-radius: 4px!important;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
        }

        [data-field="LeftBox"]{
           @media(min-width:991px){
                width:50%!important;

           }
            
       
        }
        [data-field="RightBox"]{
           
            @media(min-width:991px){
                 width:50%!important;

            }
             
            
           
            clear:none!important;
        }
        #c-recaptcha-div{
            position: absolute; //get out of way
        }

        .c-button-section{
           display: flex;
               justify-content: center;
            
            button{
                border-radius: 4px!important;
                border: 1px solid #ccc!important;
                           
            } 
            @media(max-width: 991px) {
                text-align: center;
            }

         
        }

        input{

        }

        textarea{
           height: 197px!important;
          
            

        }

        ::-webkit-input-placeholder,::-moz-placeholder ,:-ms-input-placeholder, :-moz-placeholder{ /* Chrome/Opera/Safari */
          font-weight: bold;
          display:inline-block;
          margin-left:5px;
        }

        .c-forms-confirmation-message p{
                 font-family:"Marcellus",serif!important;
                 font-weight: bold!important;
                     font-size: 18px!important;
                     text-align: center;
                     color:#fff!important;

        }

    }